h4{
    font-family:cursive;
    color:indigo;
    text-align: center;
}
label{
    font-family: cursive;

}
h5{
    font-family:cursive;
    color:black;
    text-align: center;
}
button{
    font-family: cursive;
    color:teal;

}