p {
    font-family: cursive;
  }
  .btn-primary
  {
    background-color: teal;
  }
  .input
  {
    border: 1px solid black;
    padding: 20px;
    position: absolute;
    transform: translate(10%,15%);
  }
  .t2
  {
    position: absolute;
    top:320px;
  }
  .t3
  {
    position: absolute;
    top:520px;
  }
